[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AntibodyTiters"]
	path = AntibodyTiters
	url = https://github.com/cran/AntibodyTiters
[submodule "nuCpos"]
	path = nuCpos
	url = https://git.bioconductor.org/packages/nuCpos
